@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4 text-center">Welcome in F1 Teams Manager!</h1>
    <p class="text-body lead pt-md-3">In this site you can manage Formula-1 teams. Click on menu <span class="alert-primary">Teams</span> on the menubar.<br/>
        For some operation you have to log in.</p>
</div>
